# AI
.claude

# pixi environments
.pixi
*.egg-info

# build directory
bld

# Python
__pycache__/
**/sandbox.ipynb
.ruff_cache/
.pytask/
.pytest_cache/
.mypy_cache/

# vscode
.vscode/

# R
.RData
.Rhistory
.Rproj.user
